body {
  margin: 0;
  padding: 0;
}

.container_login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003366;
}

.label_input {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 5px;
  color: #ffffff;
}

.p-password-input {
  width: 300px;
}


.container_login > form {
  padding: 50px 10px;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
}

.container_login > form > div {
  margin-bottom: 25px;
}

.container_btn_login {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 0 !important;
}

.container_btn_login > button {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.logo_login {
  width: 25%;
  margin-bottom: 20px;
}


.container_checks {
  margin-bottom: 5px;
}






/* OPEN ADMIN PAGE */
.container_admin {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container_nav {
  width: 200px;
  height: 100vh;
  background: slateblue;
  padding: 0 5px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_colegio {
  width: 100%;
  margin-bottom: 20px;
}

main {
  margin-left: 200px;
  width: calc(100% - 200px);
  height: 100vh;
}

.inputs_datos_familia {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 10px;
  column-gap: 8px;

}

.container_input_dni {
  display: flex;
  align-items: center;
}

.input_dni {
  width: 100%;
}

.label_input_dni,
.container_inputs {
  display: flex;
  flex-direction: column;
}

.container_inputs_estudiantes,.container_inputs_detalles {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));

}

.container_btns {
  display: flex;
  gap: 5;
}

.container_btns {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.text_error {
  margin: 0 0 5px 0;
  padding: 0;

  color: red;
}

.input {
  color: red;
}

.p-inputtext {
  color: #000000;
}

.p-dropdown-label.p-placeholder{
  color: #6b7280;
}
.container_user_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-bottom: 20px;
}

.container_user_name > h2 {
  margin: 0 0 5px 0;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
}

.container_user_name > p {
  text-align: center;
  color: #cecece;
  margin: 0 0 15px 0;
}


.container_matricula {
  padding: 0 10px;
}

.container_home_editar {
  padding: 0  15px 20px ;
}


/* END ADMIN PAGE */



/* DOCENTE */

.aul_docente {
  display: initial;
}
.form_register {
  width: 300px;
}

.secction_grado_options {
  width: 100%;
  display: flex;
}

.container_lista_docente {
  padding: 0 40px;

}

.conatiner_detalles_accion {
  display: flex;
 gap: 35px;
}

.conatiner_btn_accion {
  display: flex;
 gap: 5px;
}

.title_detalle_table {
  font-size: 16px;
  width: 290px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.home_editar {
position: relative;
padding: 15px 20px;
}

.container_mensaje {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}
.mensaje {
  width: 300px;
  position: absolute;
  top: 0;
}
/* END DOCENTE */






/* OPEN ALUMNO */
.container_table_cuotas{
  padding: 0 20px;
}
/* END ALUMNO */














/* OPEN HOME */
.header_home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: slateblue;
}


.header_home > nav > ul {
  display: flex;
  gap: 20px;
}

.header_home > nav > ul> li {
  list-style: none;
  
}
.header_home > nav > ul> li> a {
 text-decoration: none;
  color: #ffffff;
}

.header_home > nav > ul> li> a:hover {
  text-decoration: none;
   border-bottom: 2px solid red;
 }

 .main_home {
  width: 100%;
  margin-left: initial;
  height: initial;
 }

 .hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 50px 0 ;
  
  background-color: #003366;
 }

 .title_colegio {
  margin: 0;
  color: #ffffff;
  font-size: 34px;
 }

 .slogan {
  margin: 0;
  color: #cecece;
  font-size: 18px;
 }

 .img_alumnos {
  width: 45%;
  border-radius: 5px;
 }

 .title_mision_vision {
  text-align: center;
  font-size: 26px;
 }

 .container_mision_vision {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
  gap: 30px;
 }

 .mision_text,.vision_text,.niveles_text {
  text-align: justify;
 }

 .container_nivel {
  width:30%;
  height: 200px;
  background-color: #003366;
  padding: 0 5px;
  border-radius: 5px;
 }

 .niveles {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 30px;
  padding-bottom: 40px;
 }

 .title_nivel {
  text-align: center;
  font-size: 24px;
  margin: 5px 0 0 0 ;
  color: #ffffff;
 }

 .niveles_text {
  color: #cecece;
 }
 
 

 .logo_home {
  width: 150px;
 }
/* END HOME */


.footer_home {
  width: 100%;
  height: 15vh;
  background-color: #003366;
}












.container_balls {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balls {
  width: 3.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.balls div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: slateblue;
  transform: translateY(-100%);
  animation: wave 0.8s ease-in-out alternate infinite;
}

.balls div:nth-of-type(1) {
  animation-delay: -0.4s;
}

.balls div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes wave {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(100%);
  }
}




























